.bottom-1 {
  bottom: 1rem;
}
.left-1 {
  left: 1rem;
}

.bottom-2 {
  bottom: 0;
}
.left-2 {
  left: 0;
}

.w-cc {
  width: 100%;
}

.cookie-consent {
  transition: transform .5s, opacity 1s;
  opacity: 1;
  transform: translate(0, 0);
}
.translate-cc {
  transition: transform 1s, opacity .5s;
  opacity: 0;
  transform: translate(-110%, 0);
}

.border-l-1 {
  border-left-width: 1px;
}

.border-r-1 {
  border-right-width: 1px;
}

.overflow-y {
  overflow-y: auto;
}

@media (min-width: 1024px) {
.bottom-2 {
bottom: 4.5rem;
}
.left-2 {
left: 1rem;
}
.w-cc {
width: 32rem;
}
}

.z-5 {
z-index: 5;
}

.z-10 {
z-index: 10;
}

// Toggle

.toggle-checkbox::before, .toggle-checkbox::after {
  border-color: red;
}

.toggle-checkbox[disabled] {
  @apply right-0 border-green-400;
}
.toggle-checkbox[disabled] + .toggle-label {
  @apply bg-green-400;
}

.toggle-checkbox-checked {
  @apply right-0 border-green-500;
}
.toggle-checkbox-checked + .toggle-label {
  @apply bg-green-500;
}

.toggle-checkbox-indeterminate {
  @apply right-0 border-blue-400;
  right: 20%;
}
.toggle-checkbox-indeterminate + .toggle-label {
  @apply bg-blue-400;
}
