div.tile.is-ancestor
  div.tile.is-parent
    article.tile.is-child.box
      h3.title.is-3 {{$t("utils.favourites")}}
      div.content
        ul.is-hidden-desktop
          li(v-for="elt in bookmarks")
            nuxt-link(:to="localePath(elt)" exact) {{$t('foe_data.gb.' + elt.params.gb)}}
        div.container
          div.columns.is-hidden-touch
            div.column.is-4(v-for="column in splitBookmarks")
              ul
                li(v-for="elt in column" v-if="elt")
                  nuxt-link(:to="localePath(elt)" exact) {{$t('foe_data.gb.' + elt.params.gb)}}
