label.t-label.font-bold(:for="labelFor")
  .flex.items-start
    slot(name="labelBefore")
    slot(v-if="$slots.label", name="label")
    span.flex-grow(v-else) {{ label }}
    slot(name="labelAfter")
  slot
