div
  div.t-content-container
    .t-columns.mb-4
      .flex-shrink-1.flex-grow-1.w-full
        h3.title.mb-0 {{$t(i18nPrefix + 'block_place.title')}}
      .flex-shrink-0.flex-grow-0.mt-2(class="sm:mt-0")
        nuxt-link#permalink(:to="localePath(permaLink)" exact)
          i.fas.fa-link
          | &nbsp;{{$t('utils.permalink')}}

    .mb-4.inline-flex.w-full.flex-col(class="sm:flex-row")
      div.column
        div.field
          p {{$t('utils.description.p1')}}
          p
            t-button(type="danger" @click.prevent="resetValues") {{$t('utils.Reset_values')}}

    .t-columns.mb-4
      div(class="w-full sm:w-1/2")
        t-label(:label="$t(i18nPrefix + 'block_place.level_cost')" label-for="splevelCost" :type="haveError('levelCost')")
      div(class="w-full sm:w-1/2")
        numberinput(:min="0" v-model.number="levelCost" name="level-cost" inputId="splevelCost"  :isDisabled="haveInputLevelCost()" :showIncDec="true")
    .t-columns.mb-4
      div(class="w-full sm:w-1/2")
        t-label(:label="$t(i18nPrefix + 'block_place.current_deposits')" label-for="spCurrentDeposits" :type="haveError('currentDeposits')")
      div(class="w-full sm:w-1/2")
        numberinput(:min="0" v-model.number="currentDeposits" name="current-deposits" inputId="spCurrentDeposits"  :showIncDec="true")

    .t-columns.mb-4
      div(class="w-full sm:w-1/2")
        t-label(:label="$t(i18nPrefix + 'block_place.your_participation')" label-for="spYourParticipation" :type="haveError('yourParticipation')")
      div(class="w-full sm:w-1/2")
        numberinput(:min="0" v-model.number="yourParticipation" name="your-participation" inputId="spYourParticipation" autocomplete="off"  :showIncDec="true")
    .t-columns.mb-4
      div(class="w-full sm:w-1/2")
        t-label(:label="$t(i18nPrefix + 'block_place.other_participation')" label-for="spOtherParticipation" :type="haveError('otherParticipation')")
      div(class="w-full sm:w-1/2")
        numberinput(:min="0" v-model.number="otherParticipation" name="other-participation" inputId="spOtherParticipation"  :showIncDec="true")

    .t-columns.mb-4
      div(class="w-full sm:w-1/2")
        t-label(:label="$t(i18nPrefix + 'block_place.your_arc_bonus')" label-for="spYourArcBonus" :type="haveError('yourArcBonus')")
      div(class="w-full sm:w-1/2")
        numberinput(:min="0" v-model.number="yourArcBonus" :step="0.1" :precision="1" name="your-arc-bonus" inputId="spYourArcBonus" :isDisabled="$props.canCustomYourArcBonus"  :showIncDec="true")
    .t-columns.mb-4
      template(v-if="haveInputLevelCost()")
        div(class="w-full sm:w-1/2")
          t-label(:label="$t(i18nPrefix + 'block_place.target_reward')" label-for="fpTargetReward" :type="haveError('fpTargetReward')")
        div(class="w-full sm:w-1/2")
          t-select#fpTargetReward(v-model="fpTargetReward" name="fp-target-reward")
            option(v-for="(place, i) in levelData.investment" :value="place.reward" :key="i" :id="'option_' + i" autocomplete="off") {{$tc(i18nPrefix + 'block_place.place', place.reward, { place: i + 1, count: $n(place.reward) })}}
      template(v-else)
        div(class="w-full sm:w-1/2")
          t-label(:label="$t(i18nPrefix + 'block_place.fp_target_reward')" label-for="spFpTargetReward" :type="haveError('fpTargetReward')")
        div(class="w-full sm:w-1/2")
          numberinput(:min="0" v-model.number="fpTargetReward" :step="5" name="fp-target-reward" inputId="spFpTargetReward"  :showIncDec="true")

  div.t-content-container(v-if="levelCost && getNumberOfRemainingPoints()")
    h4.title {{$t('utils.Result')}}

    .t-columns.mb-4
      div(class="w-full sm:w-1/2")
        p {{$tc(i18nPrefix + 'block_place.fp_to_complete_level', getNumberOfRemainingPoints(), { count: $n(getNumberOfRemainingPoints()) })}}
      div(class="w-full sm:w-1/2")
        p
          strong {{$n(getNumberOfRemainingPoints())}}
    .t-columns.mb-4
      div(class="w-full sm:w-1/2")
        p {{$tc(i18nPrefix + 'block_place.result.fp_need_to_lock', 42, { count: $n(42) })}}
      div(class="w-full sm:w-1/2")
        template(v-if="fp > 0")
          p(v-if="fp <= yourParticipation")
            i.fas.fa-lock
          p(v-else)
            strong {{$n(fp)}}
            template(v-if="((fp >= yourParticipation) && (fp - yourParticipation) > 0) && (yourParticipation > 0)")
              | &nbsp;(
              span(v-tippy="{ content: $t(i18nPrefix + 'block_place.result.still_to_put') }") {{$n(fp - yourParticipation)}}
              | )
            template(v-if="roi > 0")
              | &nbsp;(
              span.text-green-500.mr-1
                i.fas.fa-arrow-up
              | {{$n(Math.abs(roi))}})
            template(v-else-if="roi === 0")
              | &nbsp;(
              span
                i.fas.fa-exchange-alt
              | )
            template(v-else)
              | &nbsp;(
              span.text-red-500.mr-1
                i.fas.fa-arrow-down
              | {{$n(Math.abs(roi))}})
        p(v-else) {{$t(i18nPrefix + 'block_place.result.cant_block')}}

  div(v-show="(fp > 0) && (yourArcBonus >= 0) && (fpTargetReward > 0)" class="mx-0 md:mx-16 lg:mx-32 xl:mx-64 mt-8")
    h4.title.mb-6 {{$t(i18nPrefix + 'block_place.various_rate')}}
    div(class="flex flex-col mb-4")
      div(class="-my-2")
        div(class="shadow-lg rounded-lg align-middle inline-block min-w-full")
          div.overflow-hidden.border-b.border-gray-200(class="rounded-lg dark:border-gray-600 transition-light-dark")
            table.min-w-full.divide-y.divide-gray-200(class="dark:divide-gray-600 transition-light-dark")
              thead.bg-gray-50(class="dark:bg-gray-900 transition-light-dark")
                tr
                  th(scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-white uppercase tracking-wider") {{$t(i18nPrefix + 'block_place.rate')}}
                  th(scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-white uppercase tracking-wider") {{$t(i18nPrefix + 'block_place.fp_according_rate')}}
                  th(scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-white uppercase tracking-wider") {{$t(i18nPrefix + 'block_place.fp_to_lock')}}
              tbody(class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-600 transition-light-dark")
                tr(v-for="(value, index) in variousRate" v-show="value !== yourArcBonus" v-if="value.rate !== yourArcBonus")
                  td.px-6.py-4.whitespace-nowrap {{$n(value.displayRate)}}
                  td.px-6.py-4.whitespace-nowrap
                    template(v-if="value.result && value.result.fp !== null")
                      p(v-if="value.result.roi > 0")
                        strong {{ $n(value.result.fp) }}
                        | &nbsp;(
                        span.text-green-500.mr-1
                          i.fas.fa-arrow-up
                        | {{$n(Math.abs(value.result.roi))}})
                      p(v-else-if="value.result.roi === 0")
                        strong {{$n(value.result.fp)}}
                        | &nbsp;(
                        span
                          i.fas.fa-exchange-alt
                        | )
                      p(v-else)
                        strong {{$n(value.result.fp)}}
                        | &nbsp;(
                        span.text-red-500.mr-1
                          i.fas.fa-arrow-down
                        | {{$n(Math.abs(value.result.roi))}})
                  td.px-6.py-4.whitespace-nowrap
                    template(v-if="value.result && value.result.fp !== null")
                      p(v-if="value.result.roiSnipe > 0")
                        strong {{ $n(value.result.fpSnipe) }}
                        | &nbsp;(
                        span.text-green-500.mr-1
                          i.fas.fa-arrow-up
                        | {{$n(Math.abs(value.result.roiSnipe))}})
                      p(v-else-if="value.result.roiSnipe === 0")
                        strong {{$n(value.result.fpSnipe)}}
                        | &nbsp;(
                        span
                          i.fas.fa-exchange-alt
                        | )
                      p(v-else)
                        strong {{$n(value.result.fpSnipe)}}
                        | &nbsp;(
                        span.text-red-500.mr-1
                          i.fas.fa-arrow-down
                        | {{$n(Math.abs(value.result.roiSnipe))}})
