div.mt-2
  t-label(:label="$t('components.site_layout.day_night.start_day')")
    t-input(type="time" v-model="dayStart")
  .mt-2
  t-label(:label="$t('components.site_layout.day_night.start_night')")
    t-input(type="time" v-model="nightStart")
