/*
 * Dropdown
 */

.t-dropdown-menu {
  @apply absolute
  block
  left-0
  min-w-48
  pt-1
  top-auto
  w-full z-20;
}

.t-dropdown-content {
  @apply bg-white
  max-h-48
  overflow-auto
  py-2
  rounded
  shadow-lg;
}

.t-dropdown-item {
  @apply block
  disabled:cursor-not-allowed
  disabled:opacity-50
  hover:bg-gray-100
  hover:text-black
  overflow-ellipsis
  overflow-x-hidden
  px-4
  py-1.5
  relative
  text-gray-700
  whitespace-nowrap;

  &.is-hovered {
    @apply bg-gray-100 text-black;
  }

  &.is-disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

a.t-dropdown-item {
  color: theme("colors.gray.600") !important;

  &.is-hovered, &:hover {
    color: black !important;
  }
}

/*
 * Loader
 */

.loader {
  @apply animate-spin
  border-8
  border-gray-200
  border-solid
  h-24
  rounded-full
  w-24;

  border-top-color: theme("colors.blue.400");
}

/*
 * Progress
 */

.t-progress-wrapper {
  @apply overflow-hidden relative mb-6 last:mb-0;

  .t-progress-value {
    @apply absolute top-0 left-1/2 transform -translate-x-1/2 whitespace-nowrap;
  }
}

.t-progress {
  @apply block border-none overflow-hidden p-0 rounded-full w-full;
  -webkit-appearance: none;
}

.t-progress::-webkit-progress-bar, .t-progress-wrapper.is-not-native::-webkit-progress-bar {
  background-color: theme("colors.gray.100");
}

.t-progress::-webkit-progress-value, .t-progress-wrapper.is-not-native::-webkit-progress-value {
  @apply bg-trueGray-600;
}

.t-progress::-moz-progress-bar, .t-progress-wrapper.is-not-native::-moz-progress-bar {
  @apply bg-trueGray-600;
}

.t-progress::-ms-fill, .t-progress-wrapper.is-not-native::-ms-fill {
  @apply bg-trueGray-600;
  border: none;
}

.t-progress.is-success::-webkit-progress-value, .is-success.t-progress-wrapper.is-not-native::-webkit-progress-value {
  @apply bg-green-500;
}

.t-progress.is-success::-moz-progress-bar, .is-success.t-progress-wrapper.is-not-native::-moz-progress-bar {
  @apply bg-green-500;
}

.t-progress.is-success::-ms-fill, .is-success.t-progress-wrapper.is-not-native::-ms-fill {
  @apply bg-green-500;
}

.t-progress.is-success:indeterminate, .is-success.t-progress-wrapper.is-not-native:indeterminate {
  background-image: linear-gradient(to right, theme("colors.green.500") 30%, theme("colors.gray.100") 30%);
}

.t-progress.is-info::-webkit-progress-value, .is-info.t-progress-wrapper.is-not-native::-webkit-progress-value {
  @apply bg-blue-500;
}

.t-progress.is-info::-moz-progress-bar, .is-info.t-progress-wrapper.is-not-native::-moz-progress-bar {
  @apply bg-blue-500;
}

.t-progress.is-info::-ms-fill, .is-info.t-progress-wrapper.is-not-native::-ms-fill {
  @apply bg-blue-500;
}

.t-progress.is-info:indeterminate, .is-info.t-progress-wrapper.is-not-native:indeterminate {
  background-image: linear-gradient(to right, theme("colors.blue.500") 30%, theme("colors.gray.100") 30%);
}

.t-progress.is-danger::-webkit-progress-value, .is-danger.t-progress-wrapper.is-not-native::-webkit-progress-value {
  @apply bg-red-500;
}

.t-progress.is-danger::-moz-progress-bar, .is-danger.t-progress-wrapper.is-not-native::-moz-progress-bar {
  @apply bg-red-500;
}

.t-progress.is-danger::-ms-fill, .is-danger.t-progress-wrapper.is-not-native::-ms-fill {
  @apply bg-red-500;
}

.t-progress.is-danger:indeterminate, .is-danger.t-progress-wrapper.is-not-native:indeterminate {
  background-image: linear-gradient(to right, theme("colors.red.500") 30%, theme("colors.gray.100") 30%);
}

.t-progress.is-warning::-webkit-progress-value, .is-warning.t-progress-wrapper.is-not-native::-webkit-progress-value {
  @apply bg-yellow-400;
}

.t-progress.is-warning::-moz-progress-bar, .is-warning.t-progress-wrapper.is-not-native::-moz-progress-bar {
  @apply bg-yellow-400;
}

.t-progress.is-warning::-ms-fill, .is-warning.t-progress-wrapper.is-not-native::-ms-fill {
  @apply bg-yellow-400;
}

.t-progress.is-warning:indeterminate, .is-warning.t-progress-wrapper.is-not-native:indeterminate {
  background-image: linear-gradient(to right, theme("colors.yellow.400") 30%, theme("colors.gray.100") 30%);
}

/*
 * Tooltip
 */

.tippy-tooltip.custom-theme {
  @apply bg-gray-800 dark:bg-gray-200 dark:text-black text-white shadow-lg;
}

.tippy-tooltip.custom-theme[x-placement^=top] .tippy-arrow {
  @apply border-t-8 border-l-8 border-r-8 border-solid;
  border-top-color: theme("colors.gray.800");
}

.dark .tippy-tooltip.custom-theme[x-placement^=top] .tippy-arrow {
  border-top-color: white;
}

.tippy-tooltip.custom-theme[x-placement^=bottom] .tippy-arrow {
  @apply border-b-8 border-l-8 border-r-8 border-solid;
  border-bottom-color: theme("colors.gray.800");
}

.dark .tippy-tooltip.custom-theme[x-placement^=bottom] .tippy-arrow {
  border-bottom-color: white;
}

.tippy-tooltip.custom-theme[x-placement^=left] .tippy-arrow {
  @apply border-t-8 border-l-8 border-b-8 border-solid;
  border-left-color: theme("colors.gray.800");
}

.dark .tippy-tooltip.custom-theme[x-placement^=left] .tippy-arrow {
  border-left-color: white;
}

.tippy-tooltip.custom-theme[x-placement^=right] .tippy-arrow {
  @apply border-t-8 border-b-8 border-r-8 border-solid;
  border-right-color: theme("colors.gray.800");
}

.dark .tippy-tooltip.custom-theme[x-placement^=right] .tippy-arrow {
  border-right-color: white;
}

.tippy-tooltip.custom-theme .tippy-backdrop {
  @apply dark:bg-white bg-gray-800;
}

.tippy-tooltip.custom-theme .tippy-roundarrow {
  @apply fill-current dark:text-white text-gray-800;
}

.tippy-tooltip.custom-theme[data-animatefill] {
  @apply dark:bg-white bg-gray-800;
}
