@import "~shepherd.js/dist/css/shepherd";

/*
 * Customize the scrollbar
 */

::-webkit-scrollbar {
  @apply w-4;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full border-4 border-solid border-transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#fc6076), to(#ff9a44));
  background-clip: padding-box;

  &:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
  }
}

::-webkit-scrollbar-track {
  @apply bg-white dark:bg-gray-800 p-1;
}

/*
 * Disable arrow spin of the browser.
 * This is used by number input when the number input add +/- buttons.
 */

.number-appearance-textfield::-webkit-inner-spin-button,
.number-appearance-textfield::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-appearance-textfield {
  -moz-appearance: textfield;
  appearance: textfield;
}

label.t-label .t-input {
  @apply mt-2;
}

/*
 * Gray color of Tailwind V1 used by buttons default theme.
 */

.bg-oldGray-200 {
  background-color: #edf2f7;
}

.dark .dark\:bg-oldGray-500 {
  background-color: #a0aec0;
}

.focus-shadow-none:focus {
  box-shadow: none;
}

/*
 * Default style
 */

a {
  @apply text-blue-500 hover:text-blue-600 dark:hover:text-blue-400;
  &.nuxt-link-exact-active {
    @apply text-black dark:text-white;
  }
}

h1.title {
  @apply text-6xl;
  &:not([class*="mb-"]):not([class*="my-"]):not([class*="m-"]) {
    @apply mb-4;
  }
}

h2.title {
  @apply text-5xl;
  &:not([class*="mb-"]):not([class*="my-"]):not([class*="m-"]) {
    @apply mb-4;
  }
}

h3.title {
  @apply text-4xl font-medium;
  &:not([class*="mb-"]):not([class*="my-"]):not([class*="m-"]) {
    @apply mb-4;
  }
}

h4.title {
  @apply text-2xl font-medium;
  &:not([class*="mb-"]):not([class*="my-"]):not([class*="m-"]) {
    @apply mb-2;
  }
}

h5.title {
  @apply text-xl font-medium;
  &:not([class*="mb-"]):not([class*="my-"]):not([class*="m-"]) {
    @apply mb-2;
  }
}

h6.title {
  @apply text-lg font-medium;
  &:not([class*="mb-"]):not([class*="my-"]):not([class*="m-"]) {
    @apply mb-2;
  }
}

.subtitle {
  @apply text-lg dark:text-gray-400 text-gray-600;
}

p:not([class]) {
  @apply mb-4;
}

.transition-light-dark {
  @apply transition-colors duration-500 ease-in-out;
}

/*
 * Columns class
 */

.t-columns {
  @apply inline-flex w-full flex-col sm:flex-row;
}

/*
 * Footer style
 */

@media (min-width: 640px) {
  .footer-breadcrumb :not(:nth-child(1)):before {
    content: "\000B7";
    margin-right: 0.75rem;
    color: theme("colors.gray.500");
  }
}

/*
 * Navbar
 */

.max-w-screen {
  max-width: 100vw;
}

.navbar-item {
  @apply px-3 py-3 rounded-lg text-sm font-medium text-gray-300 dark:text-coolGray-800 hover:text-white focus:outline-none focus:ring transition-light-dark;

  &.nuxt-link-exact-active {
    @apply bg-gray-900 dark:bg-gray-900 dark:bg-opacity-5 dark:text-black text-white hover:text-white focus:outline-none focus:ring;
  }
}

.navbar-dropdown-item-desktop {
  @apply text-black hover:bg-coolGray-200 hover:text-coolGray-700 dark:hover:text-coolGray-700;
}

.navbar-dropdown-item-desktop,
.navbar-dropdown-item-smartphone {
  @apply focus:outline-none focus:ring dark:text-coolGray-800 transition-light-dark;
}

.navbar-dropdown-item-desktop.nuxt-link-exact-active {
  @apply bg-blue-500 text-white hover:text-white hover:bg-blue-600 dark:hover:bg-blue-400 focus:outline-none focus:ring;
}

.navbar-dropdown-item-smartphone.nuxt-link-exact-active {
  @apply bg-gray-900 text-white dark:bg-gray-900 dark:bg-opacity-5 dark:text-coolGray-700 hover:text-white focus:outline-none focus:ring;
}

.navbar-fade-enter-active,
.navbar-fade-leave-active {
  @apply lg:left-1/2 lg:-translate-x-1/2;
  transition: all 0.1s ease-in-out;
  transform: translateX(var(--tw-translate-x));
}
.navbar-fade-enter,
.navbar-fade-leave-to {
  opacity: 0;
  transform: translateX(var(--tw-translate-x)) translateY(-1rem);
}

/*
 * Language selector
 */

@media (min-width: 640px) {
  .language-selector-max-height {
    // 7rem = 4rem (navbar height) + 2rem (navbar top) + 1rem (this dropdown top)
    max-height: calc(100vh - 7rem);
  }
}

/*
 * Content Container
 * This is the default container used for content
 */

.t-content-container {
  @apply mt-8 mx-0 rounded-lg p-6 shadow-lg bg-white transition-light-dark dark:bg-gray-800 md:mx-16 lg:mx-32 xl:mx-64;
}

/*
 * Sortable list
 */

.sortable-list {
  width: 80%;
  max-height: 80vh;
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  border-radius: 3px;
}

.sortable-list-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px !important;
  box-sizing: border-box;
  user-select: none;
  margin-top: 0 !important;

  font-weight: 400;
}

.sortable-handle {
  display: block;
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
  cursor: row-resize;
}

.a2a_floating_style {
  z-index: 100 !important;
}

/*
 * Donation
 */

.donation {
  background: linear-gradient(to right, #fc6076 0%, #ff9a44 51%, #ff9a44 61%, #fc6076 100%);
  border-color: transparent !important;
  color: white !important;
  font-weight: bold;
  background-size: 200% auto;
  transition: 0.5s;
}

.donation:hover {
  background-position: right center;
}

/*
 * Shepherd
 */

.shepherd-text {
  @apply dark:bg-gray-700 dark:text-white;
  overflow: auto;
  max-height: 30vh;
  text-align: justify;
}

.shepherd-element .shepherd-arrow {
  border-width: 0;
  height: auto;
  width: auto;
}

.shepherd-element .shepherd-arrow:after {
  display: inline-block;
}

.shepherd-element.shepherd-element-attached-bottom.shepherd-element-attached-center .shepherd-arrow:after,
.shepherd-element.shepherd-pinned-top .shepherd-arrow:after {
  transform: rotate(270deg);
}

.shepherd-element.shepherd-element-attached-top.shepherd-element-attached-center .shepherd-arrow:after {
  transform: rotate(90deg);
}

.shepherd-element.shepherd-element-attached-middle.shepherd-element-attached-right .shepherd-arrow:after,
.shepherd-element.shepherd-pinned-left .shepherd-arrow:after {
  transform: rotate(180deg);
}

.shepherd-element {
  @apply rounded-lg;
}

.shepherd-header,
.shepherd-has-title .shepherd-header,
.shepherd-has-title .shepherd-content .shepherd-header {
  @apply bg-coolGray-100 dark:bg-gray-600 transition-light-dark text-gray-900 dark:text-white p-4 rounded-t-lg;

  .shepherd-title {
    @apply dark:text-white;
  }
}

.shepherd-footer {
  @apply bg-coolGray-100 dark:bg-gray-600 transition-light-dark text-gray-900 dark:text-white p-4 rounded-b-lg;
}

.shepherd-button {
  @apply bg-blue-500 hover:bg-blue-600 dark:hover:bg-blue-400 text-white;
  // Alignment
  @apply align-middle;
  // Default borders
  @apply border border-gray-300 dark:border-gray-600;
  // Animation
  @apply duration-100 ease-in-out transition;
  // Focus
  @apply focus:border focus:outline-none focus:ring focus:border-blue-300;
  // Font style
  @apply font-bold;
  // Full height
  @apply h-full;
  // Center items
  @apply items-center justify-center text-center;
  // Padding
  @apply py-2 px-4;
  // Rounded borders
  @apply rounded-lg;
  // Flex
  @apply flex-shrink-0 flex-wrap inline-flex;
  // Text cannot be selected
  @apply select-none;
}

.is-margin-left-auto {
  margin-left: auto !important;
}

.tutorial-button {
  display: inline-block;
  text-align: center;
  background: linear-gradient(-139deg, #4d83ff, #5fdede);
  padding: 0.6rem;
  border-radius: 0.75em;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  font-size: 0.75rem;
  font-weight: bold;
}

/*
 * Dropdown
 */

.t-dropdown-menu {
  @apply absolute
  block
  left-0
  min-w-48
  pt-1
  top-auto
  w-full z-20;
}

.t-dropdown-content {
  @apply bg-white
  max-h-48
  overflow-auto
  py-2
  rounded-lg
  shadow-lg;
}

.t-dropdown-item {
  @apply block
  disabled:cursor-not-allowed
  disabled:opacity-50
  hover:bg-gray-100
  hover:text-black
  overflow-ellipsis
  overflow-x-hidden
  px-4
  py-1.5
  relative
  text-gray-700
  whitespace-nowrap;

  &.is-hovered {
    @apply bg-gray-100 text-black;
  }

  &.is-disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

a.t-dropdown-item {
  color: theme("colors.gray.600") !important;

  &.is-hovered,
  &:hover {
    color: black !important;
  }
}

/*
 * Loader
 */

.loader {
  @apply animate-spin
  border-8
  border-gray-200
  border-solid
  h-24
  rounded-full
  w-24;

  border-top-color: theme("colors.blue.400");
}

/*
 * Progress
 */

.t-progress-wrapper {
  @apply overflow-hidden relative mb-6 last:mb-0;

  .t-progress-value {
    @apply absolute top-0 left-1/2 transform -translate-x-1/2 whitespace-nowrap;
  }
}

.t-progress {
  @apply block border-none overflow-hidden p-0 rounded-full w-full;
  -webkit-appearance: none;
}

.t-progress::-webkit-progress-bar,
.t-progress-wrapper.is-not-native::-webkit-progress-bar {
  background-color: theme("colors.gray.100");
}

.t-progress::-webkit-progress-value,
.t-progress-wrapper.is-not-native::-webkit-progress-value {
  @apply bg-trueGray-600;
}

.t-progress::-moz-progress-bar,
.t-progress-wrapper.is-not-native::-moz-progress-bar {
  @apply bg-trueGray-600;
}

.t-progress::-ms-fill,
.t-progress-wrapper.is-not-native::-ms-fill {
  @apply bg-trueGray-600;
  border: none;
}

.t-progress.is-success::-webkit-progress-value,
.is-success.t-progress-wrapper.is-not-native::-webkit-progress-value {
  @apply bg-green-500;
}

.t-progress.is-success::-moz-progress-bar,
.is-success.t-progress-wrapper.is-not-native::-moz-progress-bar {
  @apply bg-green-500;
}

.t-progress.is-success::-ms-fill,
.is-success.t-progress-wrapper.is-not-native::-ms-fill {
  @apply bg-green-500;
}

.t-progress.is-success:indeterminate,
.is-success.t-progress-wrapper.is-not-native:indeterminate {
  background-image: linear-gradient(to right, theme("colors.green.500") 30%, theme("colors.gray.100") 30%);
}

.t-progress.is-info::-webkit-progress-value,
.is-info.t-progress-wrapper.is-not-native::-webkit-progress-value {
  @apply bg-blue-500;
}

.t-progress.is-info::-moz-progress-bar,
.is-info.t-progress-wrapper.is-not-native::-moz-progress-bar {
  @apply bg-blue-500;
}

.t-progress.is-info::-ms-fill,
.is-info.t-progress-wrapper.is-not-native::-ms-fill {
  @apply bg-blue-500;
}

.t-progress.is-info:indeterminate,
.is-info.t-progress-wrapper.is-not-native:indeterminate {
  background-image: linear-gradient(to right, theme("colors.blue.500") 30%, theme("colors.gray.100") 30%);
}

.t-progress.is-danger::-webkit-progress-value,
.is-danger.t-progress-wrapper.is-not-native::-webkit-progress-value {
  @apply bg-red-500;
}

.t-progress.is-danger::-moz-progress-bar,
.is-danger.t-progress-wrapper.is-not-native::-moz-progress-bar {
  @apply bg-red-500;
}

.t-progress.is-danger::-ms-fill,
.is-danger.t-progress-wrapper.is-not-native::-ms-fill {
  @apply bg-red-500;
}

.t-progress.is-danger:indeterminate,
.is-danger.t-progress-wrapper.is-not-native:indeterminate {
  background-image: linear-gradient(to right, theme("colors.red.500") 30%, theme("colors.gray.100") 30%);
}

.t-progress.is-warning::-webkit-progress-value,
.is-warning.t-progress-wrapper.is-not-native::-webkit-progress-value {
  @apply bg-yellow-400;
}

.t-progress.is-warning::-moz-progress-bar,
.is-warning.t-progress-wrapper.is-not-native::-moz-progress-bar {
  @apply bg-yellow-400;
}

.t-progress.is-warning::-ms-fill,
.is-warning.t-progress-wrapper.is-not-native::-ms-fill {
  @apply bg-yellow-400;
}

.t-progress.is-warning:indeterminate,
.is-warning.t-progress-wrapper.is-not-native:indeterminate {
  background-image: linear-gradient(to right, theme("colors.yellow.400") 30%, theme("colors.gray.100") 30%);
}

/*
 * Tooltip
 */

.tippy-tooltip.custom-theme {
  @apply bg-gray-800 dark:bg-gray-200 dark:text-black text-white shadow-lg;
}

.tippy-tooltip.custom-theme[x-placement^="top"] .tippy-arrow {
  @apply border-t-8 border-l-8 border-r-8 border-solid;
  border-top-color: theme("colors.gray.800");
}

.dark .tippy-tooltip.custom-theme[x-placement^="top"] .tippy-arrow {
  border-top-color: white;
}

.tippy-tooltip.custom-theme[x-placement^="bottom"] .tippy-arrow {
  @apply border-b-8 border-l-8 border-r-8 border-solid;
  border-bottom-color: theme("colors.gray.800");
}

.dark .tippy-tooltip.custom-theme[x-placement^="bottom"] .tippy-arrow {
  border-bottom-color: white;
}

.tippy-tooltip.custom-theme[x-placement^="left"] .tippy-arrow {
  @apply border-t-8 border-l-8 border-b-8 border-solid;
  border-left-color: theme("colors.gray.800");
}

.dark .tippy-tooltip.custom-theme[x-placement^="left"] .tippy-arrow {
  border-left-color: white;
}

.tippy-tooltip.custom-theme[x-placement^="right"] .tippy-arrow {
  @apply border-t-8 border-b-8 border-r-8 border-solid;
  border-right-color: theme("colors.gray.800");
}

.dark .tippy-tooltip.custom-theme[x-placement^="right"] .tippy-arrow {
  border-right-color: white;
}

.tippy-tooltip.custom-theme .tippy-backdrop {
  @apply dark:bg-white bg-gray-800;
}

.tippy-tooltip.custom-theme .tippy-roundarrow {
  @apply fill-current dark:text-white text-gray-800;
}

.tippy-tooltip.custom-theme[data-animatefill] {
  @apply dark:bg-white bg-gray-800;
}

/*
 * Custom helpers
 */

.-translate-x-full {
  --tw-translate-x: -110%;
}

.z-5 {
  z-index: 5;
}

.z-1000 {
  z-index: 1000;
}

.border-l-1 {
  border-left-width: 1px;
}

.border-r-1 {
  border-right-width: 1px;
}
