t-label(:label-for="id", :label="onlySelector ? '' : $t(i18nPrefix + 'label')")
  template(#labelAfter, v-if="!onlySelector")
    span.icon(v-tippy="{ content: $t(i18nPrefix + 'info') }")
      i.far.fa-question-circle

  t-autocomplete.mt-2(
    v-if="gbSelectModeDatalist === 'datalist'",
    v-model="name",
    :placeholder="$t('foe_data.gb.' + selected)",
    :id="id",
    :open-on-focus="true",
    :data="filteredDataObj",
    field="text",
    @select="onSelect($event)",
    @focus.prevent="onFocus($event)",
    isFullWidth
  )

  template(v-else)
    t-select.mt-2(
      v-model="selected",
      :id="id",
      :name="id",
      :borderLeft="false",
      :roundedTopLeft="false",
      :roundedBottomLeft="false"
    )
      template(#before)
        t-button(
          @click.prevent="$store.set('global/gbSelectSortMode', gbSelectSortMode === 'age' ? 'alpha' : 'age')",
          :borderRight="false",
          :roundedTopRight="false",
          :roundedBottomRight="false"
        )
          span.icon.inline-block(v-show="gbSelectSortMode === 'age'", style="margin: 0 !important")
            i.far.fa-building
          span.icon.inline-block(v-show="gbSelectSortMode === 'alpha'")
            i.fas.fa-sort-alpha-down
      optgroup(v-if="bookmarks.length", :label="$t('utils.favourites')")
        option(v-for="gb in bookmarks", :value="gb.params.gb") {{ $t('foe_data.gb.' + gb.params.gb) }}
      template(v-if="gbSelectSortMode === 'age'")
        optgroup(v-for="(age, i) in foeGBList", :label="$t('foe_data.age.' + age.key)")
          option(v-for="gb in age.gbs", :value="gb") {{ $t('foe_data.gb.' + gb) }}
      template(v-else)
        optgroup(:label="$t('utils.alpha_order')")
          option(v-for="gb in gbData", :value="gb.value") {{ gb.text }}
