div.t-content-container
  h3.title {{$t($data.i18nPrefix + 'title')}}
  h4.title {{$t($data.i18nPrefix + 'general_info.title')}}

  p(v-html="$t($data.i18nPrefix + 'general_info.p1_html')")
  p(v-html="$t($data.i18nPrefix + 'general_info.p2_html')")
  p(v-html="$t($data.i18nPrefix + 'general_info.p3_html')")

  h4.title#cookies {{$t($data.i18nPrefix + 'cookie.title')}}

  p {{$t($data.i18nPrefix + 'cookie.p1')}}
  p {{$t(i18nPrefix + 'cookie.table_message')}}

  div(class="flex flex-col mb-4")
    div(class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8")
      div(class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8")
        div.shadow.overflow-hidden.border-b.border-gray-200(class="rounded-lg dark:border-gray-500 transition-light-dark")
          table.min-w-full.divide-y.divide-gray-200(class="dark:divide-gray-500 transition-light-dark")
            thead.bg-gray-50(class="dark:bg-gray-700 transition-light-dark")
              tr
                th(scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-white uppercase tracking-wider") {{$t('utils.Name')}}
                th(scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-white uppercase tracking-wider") {{$t('utils.Description')}}
            tbody(class="bg-white dark:bg-gray-600 divide-y divide-gray-200 dark:divide-gray-500 transition-light-dark")
              tr(v-for="cookie in cookiesData" :key="cookie.name")
                td.px-6.py-4.whitespace-nowrap {{cookie.name}}
                td.px-6.py-4.whitespace-nowrap {{$t(i18nPrefix + 'cookie.info.' + cookie.name)}}

  p {{$t($data.i18nPrefix + 'cookie.p2')}}
  ul.list-inside.list-disc.mb-4
    li
      nuxt-link(:to="localePath({ name: 'PrivacyPolicy' })") {{$t('footer_menu.privacy_policy')}}
    li
      nuxt-link(:to="localePath({ name: 'CookiePolicy' })") {{$t('footer_menu.cookie_policy')}}

  h4.title {{$t($data.i18nPrefix + 'dev_info.title')}}

  p {{$t($data.i18nPrefix + 'dev_info.p1')}}
  p(v-html="$t($data.i18nPrefix + 'dev_info.p2_html')")
  p(v-html="$t($data.i18nPrefix + 'dev_info.p3_html')")

  t-message(:closable="false")
      i(v-html="$t($data.i18nPrefix + 'dev_info.message_info_github_issue')")
