header
  b-navbar.has-shadow(:fixed-top="$store.get('global/fixedMainMenu')" :class="{'hidden-navbar': $store.get('global/fixedMainMenu') && !showNavbar}")
    template(slot="brand")
      b-navbar-item(tag="router-link" :to="localePath({ name: 'Home' })")
        img(src="/img/icons/logo.png" alt="FOE-Tools logo" width="28" height="28")

    template(slot="start")
      template(v-for="value in mainMenu")
        template(v-if="value.children.length === 0")
          b-navbar-item(tag="nuxt-link" :class="{'is-active': isActive(value.link)}" :to="localePath({ name: value.link })") {{$t(value.name)}}
        b-navbar-dropdown(v-else :key="value.slug" :label="$t(value.name)" hoverable)
          template(v-for="child in value.children")
            b-navbar-item(v-if="child.type.name === 'PAGE'" tag="nuxt-link" :class="{'is-active': isActive(child.link)}" :to="localePath({ name: child.link })" exact) {{$t(child.name)}}
            hr.navbar-divider(v-else-if="child.type.name === 'SEPARATOR'")

    template(slot="end")

      b-navbar-item(tag="div")
        language-selector

      b-navbar-item(tag="div")
        div.field.is-grouped
          nuxt-link.button.donation(:to="localePath({ name: 'Donate' })" exact)
            span {{$t('utils.Donate')}}

      b-navbar-item(tag="div")
        div.field
          b-tooltip.control.is-hidden-touch(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t('components.site_layout.global_config')" position="is-bottom")
            button.button(@click="showGlobalSettings" :class="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'")
              p.icon
                i.fas.fa-cog
          button.button.is-hidden-desktop(@click="showGlobalSettings" :class="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'")
            p.icon
              i.fas.fa-cog
            p {{$t('components.site_layout.global_config')}}

      b-navbar-item(tag="div")
        div.field.is-grouped
          a.button(href="https://github.com/FOE-Tools/FOE-Tools.github.io" target="_blank")
            span.icon
              i.fab.fa-github
